<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-3">
            
            <div class="text-center">
               <h3 class="bg-light">Core Store Data </h3>
            </div>
            <div class="card">
                <div class="card-header text-center" routerLink='/wells'>
                   <h4> Wells</h4>
                </div>
                
                <div class="card-header text-center" routerLink='/wellbore'>
                    <h4 >Wellbore</h4>
                </div>
               
                <div class="card-header text-center" routerLink='/wellborecore'>
                  <h4>Wellbore Core</h4> 
                </div>
                <div class="card-header text-center" routerLink='/category'>
                   <h4> Category</h4>
                </div>
            
        </div>
    </div>
</div>
</div>
<br><br>

<div class="card bg-secondary">
<footer class="footer text-center ">
  <div class="container">
    <span class="text-strong">Copyright @2021 Petroleum Authority of Uganda</span>
  </div>
</footer>
 </div>
