<div class="container mt-3">
    <div class="text-center">
    </div>
    <div class="row">
      <div class="col-md-4 offset-4">
        <h3 class='bg-light text-center' ><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login</h3>
        <form >
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Enter Email" class="form-control">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter Password">
          </div>
          <div class="text-center">
              <button type="submit" class='btn btn-primary btn-md' >Log In</button>
          </div>
        </form>
      </div>
    </div>
      
        <br>
        <div class="card card-body bg-outline-info">
          demo account:
          <hr>
          email: authority@pau.go.ug|
          password: benny&D!199B|
          role: admin
          <br>
          email: edward@gmail.com |
          password: !fetty2020A  |
          role: user
        </div>
        <br><br>
        
  </div>
  
