<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 offset-2">
       <h3 class="text-center">
         Add Wellbore Core Data
     </h3>
 
     <br>
     <form class="bg-light">
         <div class="form-row">
         <div class="form-group col">
           <label for="wellborename">WellBore Name</label>
           <input type="text" name="wellborename" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="corenumber">Core Number</label>
           <input type="text" name="corenumber" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="coredate">Core Date</label>
           <input type="date" name="coredate" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="coringcontractor">Coring Contractor</label>
           <input type="text" name="coringcontractor" class="form-control">
          </div>
         </div>
         <div class="form-row">
         <div class="form-group col">
           <label for="coretopmdrt">Core Top MDRT</label>
           <input type="text" name="coretopmdrt" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="corebottommdrt">Core Bottom MDRT</label>
           <input type="text" name="corebottommdrt" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="coretoptvd">Core Top TVD</label>
           <input type="text" name="coretoptvd" class="form-control">
          
         </div>
         <div class="form-group col">
            <label for="corebottomtvd">Core Bottom TVD</label>
           <input type="text" name="corebottomtvd" class="form-control">
          
          </div>
         </div>
         <div class="form-row">
         <div class="form-group col">
           <label for="cutlength">Cut Length</label>
           <input type="text" name="cutlength" class="form-control">
          
         </div>
         <div class="form-group col">
           <label for="cutlengthtvd">Cut Length TVD</label>
           <input type="text" name="cutlengthtvd" class="form-control">
         </div>
         <div class="form-group col">
             <label for="recoveredlength">Recovered Length</label>
             <input type="number" name="recoveredlength" class="form-control">
           </div>
           <div class="form-group col">
             <label for="corerecovery">Core Recovery</label>
             <input type="text" name="corerecovery" class="form-control">
           </div>
           <div class="form-group col">
             <label for="topformation">Top Formation</label>
             <input type="text" name="topformation" class="form-control">
            </div>
           </div>
           <div class="form-row">
           <div class="form-group col">
             <label for="bottomformation">Bottom Formation Info</label>
             <input type="text" name="bottomformation" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="corepicturesoftcopypath">Core Picture Softcopy Path</label>
             <input type="text" name="corepicturesoftcopypath" class="form-control">
            
           </div>
           <div class="form-group col">
             <label for="corepicturehyperlink">Core Picture Hyperlink</label>
             <input type="text" name="corepicturehyperlink" class="form-control">
            
           </div>
           <div class="form-group col">
             <label for="corereportsoftcopypath">Core Report Softcopy Path</label>
             <input type="text" name="corereportsoftcopypath" class="form-control">
            
           </div>
           <div class="form-group col">
             <label for="corereporthyperlink">Core Report Hyperlink</label>
             <input type="text" name="corereporthyperlink" class="form-control">
            </div>
           </div>
           <div class="form-row">
           <div class="form-group col">
             <label for="documentformat">Document Format</label>
             <input type="text" name="documentformat" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="filesize">File Size</label>
            <input type="text" name="filesize" class="form-control">
           </div>
           <div class="form-group col">
             <label for="securitygrade">Security Grade</label>
             <input type="text" name="securitygrade" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="openduedate">Open Due Date</label>
            <input type="date" name="openduedate" class="form-control">
            
           </div>
           
           </div>
           <div class="form-row">
           <div class="form-group col">
             <label for="documenttitle">Document Title</label>
             <input type="text" name="documenttitle" class="form-control">
           </div>
           <div class="form-group col">
            <label for="comments">Comments</label>
            <input type="text" name="comments" class="form-control">
           </div>
           <div class="form-group col">
             <label for="receivedate">Recieve Date</label>
             <input type="date" name="receivedate" class="form-control">
            
           </div>
           </div>
           <div class="form-row">
           <div class="form-group col">
             <label for="createdby">Created By</label>
            <input type="text" name="createdby" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="datecreated">Date Created</label>
             <input type="text" name="datecreated" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="cored">Cored</label>
            <input type="text" name="cored" class="form-control">
           </div>
           <div class="form-group col">
            <label for="modifiedon">Modified On</label>
             <input type="text" name="modifiedon" class="form-control">
            
           </div>
           <div class="form-group col">
            <label for="modifiedby">Modified By</label>
            <input type="text" name="modifiedby" class="form-control">
           </div>
           </div>
           <div class="form-row">
           <div class="form-group col">
             <label for="pictureuploaddate">Picture Upload Date</label>
            <input type="date" name="pictureuploaddate" class="form-control">
           </div>
           <div class="form-group col">
            <label for="documentdate">Document Date</label>
             <input type="date" name="documentdate" class="form-control">
            
           </div>
           <div class="form-group col">
             <label for="documentname">Document Name</label>
            <input type="text" name="documentname" class="form-control">
            
           </div>
           
           <div class="form-group">
            <label for="reportuploaddate">Report Upload Date</label>
           <input type="date" name="reportuploaddate" class="form-control">
           
          </div>
           </div>
           <div class="form-row">
            <div class="form-group col" >
              <input type="submit" value="Add" class=" form-control btn btn-primary">
             
            </div>
            <div class="form-group col">
              <input routerLink="/navigation" type="submit" value="Back" class=' form-control btn btn-info '>
            
            </div>
           </div>                         
         
       </form>
      </div>
    </div>
    
 </div>